body {
  margin: 0;
  font-size: 15pt;
  width: 100%;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.status-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  height: 100%;

  .texts {
    flex: 1 0 auto;
    padding: 0.3rem;
    min-height: 0%;

    .titles {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .main-text {
        font-weight: bold;
        padding: 0;
      }

      .title {
        padding: 0;
      }
    }

    .description {

      word-break: break-all;
      overflow-wrap: break-word;
    }

  }

  .footer {
    flex: 0 0 20px;
    width: 100%;
    display: block;
    border-radius: 0 0 4px 4px;
    background-color: #444
  }
}

.cards {
  margin: 0;
  box-sizing: border-box;
  --one-card-width: 250px;
  display: grid;
  gap: 20px;
  padding: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(var(--one-card-width), 1fr));
}

.server {
  background-color: #222;
}

.server>h2 {
  color: white;
}

.server .status-card {
  background-color: #eee;
}

.database {
  background-color: #eee;
}

.database .status-card {
  background-color: #fff;
  color: black;
}

.pending {
  animation: pending 2s infinite ease-in-out;
}

.pending .footer {
  background-color: #ca2;
}

@keyframes pending {

  0%,
  100% {
    opacity: 0.7;
    transform: scale(0.9);
  }

  50% {
    opacity: 0.6;
    transform: scale(0.95);
  }
}

.success .footer {
  background-color: #4c4
}

.failed .footer {
  background-color: #c40
}

.failed .texts .main-text {
  color: #c40;
}

.padding {
  padding: 1rem
}